html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #101010 -15%, transparent 60%),
              url("../img/iron.jpg") no-repeat center center fixed;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1030px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
  background: url("../img/head.jpg") no-repeat center top / cover;
  height: 100vh;
  box-shadow: -7px 6px 28px 5px #101010;
}
nav {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  margin-left: 31.25rem;
  margin-top: 3.75rem;
}
nav li {
  display: inline-block;
  margin-left: 1.5625rem;
}
nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: all .3s;
}
nav a:hover {
  font-weight: bold;
  color: #D90022;
}
nav a:active {
  color: black;
}
header h1 {
  padding-top: 18.75rem;
  text-transform: uppercase;
  font-size: 2.8125rem;
  color:  white;
  font-weight: bold;
  text-align: center;
  line-height: 3.4375rem;
  /*font-family: "Capture it", serif;*/
  font-family: "a_Stamper Bold", serif;
}

.header-style {
  font-family: "a_Stamper Bold", serif;
  text-transform: lowercase;
  font-size: 2.8125rem;
  color: white;
}
.header-logo {
  float: left;
  width: 8.0625rem;
  height: 5.3125rem;
  margin: 1.25rem;
}
.benefits {
  padding: 3.125rem 0 3.4375rem 0;
}
.benefits ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.benefit-item {
  position: relative;
  float: left;
  width: 17.4375rem;
  text-align: center;
  border-left: 2px solid #d80027;
  padding: 5.625rem 1.875rem 0 1.875rem;
}
.benefit-item:first-child {
  border-left-color: transparent;
  margin-left: 6.25rem;
}
.benefit-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6.6875rem;
  width: 65px;
  height: 65px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.benefit-choice::before {
  background-position: -5px -5px;
}
.benefit-quality::before {
  background-position: -79px -5px;
}
.benefit-time::before {
  background-position: -5px -79px;
}
.benefit-title {
  margin: 0;
  margin-bottom: 1.25rem;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1.875rem;
  font-family: "Capture it", serif;
  color: #101010;
}
.benefit-item p {
  margin: 0;
  display: block;
  color: white;
}
.service {
  position: relative;
  background: url("../img/gate2.jpg") no-repeat fixed center center / cover ;
  margin-top: 12rem;
  box-shadow: 0 -6px 28px 5px #101010;
}
.service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 62.3rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 28px 5px #101010;
}
.service-item:first-child {
  padding-top: 3.125rem;
}
.service-item {
  position: relative;
  margin-bottom: 4.375rem;
  height: 6.25rem;
}
.service-img {
  position: relative;
  width: 100%;
}
.service img {
  display: block;
  width: 4.6875rem;
  margin: 0.5rem auto;
  position: relative;
}
.service-img::after {
  content: "";
    display: block;
    position: absolute;
    width: 95px;
    height: 95px;
    border: 2px dashed black;
    border-radius: 50%;
    left: 50%;
    margin: auto;
    top: -16%;
    margin-left: -50px;
}
.service-item p {
  position: absolute;
  width: 25rem;
  top: 4%;
}
.service-item:nth-child(even) p {
  left: 60%;
  float: right;
}
.service-item:nth-child(odd) p{
  text-align: right;
}
.service-item:last-child {
  height: 7.5rem;
}
.fence-text {
  padding-top: 2.1875rem;
}
.roof-text {
  padding-top: 2.1875rem;
}
.gate-text {
  padding-top: 0.625rem;
}
.basket-text {
  padding-top: 0.9375rem;
}
.service h2 {
  font-size: 1.875rem;
  position: relative;
  text-align: center;
  font-family: "a_Stamper Bold", serif;
  color: black;
  padding: 2.5rem 0;
  text-shadow: 2px 1px 2px black;
}
.portfolio {
  margin-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.portfolio {
  color: white;
}
.portfolio h2 {
  font-family: "a_Stamper Bold", serif;
  text-align: center;
  padding: 2.5rem 0;
  position: relative;
  text-shadow: 1px 2px 5px white;
}
.portfolio img {
  width: 50%;
  box-shadow: 7px 7px 28px 5px #101010;
}
.portfolio dl {
  padding-top: 3.125rem;
}
.portfolio-basket dl {
  float: left;
}
.portfolio-basket img {
  float: right;
}
.portfolio-gates dl{
  float: right;
}
.portfolio-gates img {
  float: left;
}
.portfolio-doors dl {
  float: left;
}
.portfolio-doors img {
  float: right;
}
footer {
  margin-top: 9.375rem;
  background: #101010;
  box-shadow: -7px 0 28px 5px #101010
}
.footer-logo {
  padding: 1.25rem 0;
  width: 4.6875rem;
  float: left;
}
.footer-logo img {
  width: 4.6875rem;
}
.fb {
  float: right;
  width: 3.125rem;
  font-size: 0;
}
.btn-fb {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat 9px -307px;
  border-radius: 0.3125rem;
  margin-top: 1.375rem;
}
.btn-fb:hover {
  background-color: #4267b2;
}
.contact {
  width: 18.75rem;
  margin: 0;
  float: left;
  padding-top: 1.5625rem;
  margin-left: 1.5625rem;
  color: #a38b70;
}
form {
  text-align: center;
}
.form__text {
  padding-top: 40px;
  margin-bottom: 40px;;
  color: #a38b70;
  text-transform: uppercase;
}
.form__item {
  margin: 0 auto;
  border: 1px solid #404040;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  height: 65px;
}
.form__item-phone {
  margin-left: 15px;
}
.form__item:focus {
  border: 1px solid #D90022;
}
.btn-sub {
  position: relative;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 50px;
  margin: 50px auto;
  border-radius: 5px;
  background-color:  #404040;
  color: black;
  border-style: none;
  padding: 20px 52px;
  transition: .3s;
  text-transform: uppercase;
  outline: none;
  margin: 50px auto;
}
.btn-sub:hover {
  color: black;
  background-color: #D90022;
}
.btn-sub:active {
  transform: translateY(4px);
}
.btn-sub::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #a38b70;
  width: 340%;
  top: 90px;
  left: 50%;
  margin-left: -170%;
}

.form__complete {
  margin-top: 10px;
  font-size: 12px;
  color: #a38b70;
  opacity: 0;
}
.icon-complete img{
  width: 20px;
}
.form__item::-webkit-input-placeholder {
  color: white;
}

.form__item:-moz-placeholder {
  color: white;
}

.form__item::-moz-placeholder {
  color: white;
}

.form__item:-ms-input-placeholder {
  color: white;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background: url("../img/top.png") no-repeat center center / cover;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#back-top:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
